
body {
    background-image: url('../img/mainbackground.jpeg');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color: #f1f1f1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: -1;
}

.main-content {
    background-color: #333; 
    padding: 20px;
    max-width: 1200px; 
    margin: 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}