<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
         version="3.0">

    <!-- AuthServlet -->
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>itson.mx.moxxdesignswebapp.servlets.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth/*</url-pattern>
    </servlet-mapping>

    <!-- CarritoCompraServlet -->
    <servlet>
        <servlet-name>CarritoCompraServlet</servlet-name>
        <servlet-class>itson.mx.moxxdesignswebapp.servlets.CarritoCompraServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarritoCompraServlet</servlet-name>
        <url-pattern>/carrito/*</url-pattern>
    </servlet-mapping>

    <!-- PedidosServlet -->
    <servlet>
        <servlet-name>PedidosServlet</servlet-name>
        <servlet-class>itson.mx.moxxdesignswebapp.servlets.PedidosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PedidosServlet</servlet-name>
        <url-pattern>/pedido/*</url-pattern>
    </servlet-mapping>

    <!-- ProductosServlet -->
    <servlet>
        <servlet-name>ProductosServlet</servlet-name>
        <servlet-class>itson.mx.moxxdesignswebapp.servlets.ProductosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductosServlet</servlet-name>
        <url-pattern>/productos/*</url-pattern>
    </servlet-mapping>

    <!-- UsuariosServlet -->
    <servlet>
        <servlet-name>UsuariosServlet</servlet-name>
        <servlet-class>itson.mx.moxxdesignswebapp.servlets.UsuariosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuariosServlet</servlet-name>
        <url-pattern>/usuario/*</url-pattern>
    </servlet-mapping>

</web-app>
